parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
		- ../dev-app
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Mammatus\Groups\Generated\AbstractGroups
				- ShipMonk\PHPStan\DeadCode\Provider\ReflectionBasedMemberUsageProvider
includes:
    - ../../extension.neon
